.video-overlay{
    box-sizing: border-box;
    width: 640px;
    height: 360px;
    position: absolute;
    top: 0;
    bottom: 0;
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    
  
}
.video-overlay-container{
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.822);
    margin-top: 0;
    text-align: left;
    padding: 30px 30px 30px 30px;
    box-sizing: border-box;

}
.play-btn{
    width: 90%;
    height: 30px;
    margin: 0 auto;
    text-align: left;
}
.play-icon{
    width: 50px;
    height: 50px;
    font-size: 50px;
    color: #777778;
    margin-top: 40px;
    cursor: pointer;
}